[run]
branch = True
source = .
omit =
    */tests/*
    */__pycache__/*
    */migrations/*
    */venv/*
    */.venv/*
    app_old.py
    API_EXTERNA/manage_tokens.py
    init_db.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod

[xml]
output = coverage.xml

